.news-card {
    background-size: 350px;
    background-repeat: no-repeat;
}
.title {
    margin-top: 10px;
    color: white;
    font-size: 18px;
}

.subtitle {
    color: white;
    text-align: center;
}