.news-card {
    background: url("C:/Users/Zhana Mitova/Desktop/rsz_news_1.jpg");
    background-repeat: no-repeat;
}
.title {
    margin-top: 10px;
    color: white;
    font-size: 18px;
}

.subtitle {
    color: white;
    text-align: center;
}