.alert-wrapper .sc-ion-alert-md {
    background: white;
}

.list-style {
    background-color: #333333;
    border: 3px solid #333333;
    border-radius: 12px;
    margin: 10px 0 10px 0;
}

.button-styles {
    width: 100%;
    border-color: #ce132d;
    border: 2px solid #ce132d;
    border-radius: 8px;
  }

ion-button {
  --background: black;
}

ion-button:hover {
  --background: #ce132d;
  border: 0px;
}

td .monthview-primary-with-event[_ngcontent-hhn-c131] {
  background-color: #ce132d !important;
}