<ion-content>
    <form [formGroup]="form">
        <ion-grid style="background: white; border-bottom-left-radius: 50px;">
            <ion-row>
                <ion-item>
                    <ion-label position="stacked">Заглавие на статията<span style="color: #ce132d;">*</span></ion-label>
                    <ion-input type="text" formControlName="title"></ion-input>
                </ion-item>
            </ion-row>
            <ion-row>
                <ion-item>
                    <ion-label position="stacked">Url към статията<span style="color: #ce132d;">*</span></ion-label>
                    <ion-input type="text" formControlName="url"></ion-input>
                </ion-item>
            </ion-row>
            <ion-row class="ion-justify-content-end">
                <ion-button size="small" style="color: white;" color="warning" expand="block" (click)="openCameraOptions()">Качи снимка</ion-button>
                <ion-button size="small" color="danger" expand="block" (click)="createNews()" [disabled]="form.invalid">Запази</ion-button>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>