<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="router.navigate(['./admin']);" color="danger"><ion-icon style="color: white;" name="arrow-back-outline"></ion-icon></ion-button>
          </ion-buttons>
      <ion-title>Статистика</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid class="border-style">
        <ion-row *ngIf="showResults">
            <ion-list style="margin: auto; width: 100%;">
                <ion-item *ngFor="let player of players" class="list-style">
                    <ion-avatar slot="start" style="margin-bottom: 50px;">
                        <img src = {{player.userDetails.image}}>
                    </ion-avatar>
                    <ion-label style="margin: 0px;">
                      <ion-grid>
                          <ion-row>
                              <ion-col size="7">
                                <h2>{{player.userDetails.name}}</h2>
                                <h4>{{player.userDetails.club}}</h4>
                                <p>Брейк: {{player.userDetails.break}}</p>
                              </ion-col>
                              <ion-col size="5">
                                  <ion-row style="margin: 5px 5px 0px 30px;">
                                    <ion-button size="small" color="danger" class="button-scores" shape="round" fill="outline">{{player.userDetails.rank && player.userDetails.rank > 0 ? player.userDetails.rank : ''}}</ion-button>
                                  </ion-row>
                              </ion-col>
                          </ion-row>
                          <ion-row class="ion-justify-content-end">
                            <ion-button size="small" color="success" (click)="editPlayer(player)"><ion-icon name="create-outline"></ion-icon></ion-button>
                            <ion-button size="small" color="danger" (click)="deletePlayer(player.id)"><ion-icon name="trash-outline"></ion-icon></ion-button>
                        </ion-row>
                      </ion-grid>
                  </ion-label>
                </ion-item>
            </ion-list>
        </ion-row>
    </ion-grid>
</ion-content>