<ion-content>
    <form [formGroup]="newTournamentForm">
        <ion-grid style="background: white; border-bottom-left-radius: 50px;">
            <ion-row>
                <ion-item>
                    <ion-label position="stacked">Най-висок брейк</ion-label>
                    <ion-input type="text" formControlName="break"></ion-input>
                </ion-item>
            </ion-row>
            <ion-row>
                <ion-item>
                    <ion-label position="stacked">Наименование на клуба</ion-label>
                    <ion-input type="text" formControlName="location"></ion-input>
                </ion-item>
            </ion-row>
            <ion-row>
                <ion-item>
                    <ion-label position="stacked">Класация</ion-label>
                    <ion-input type="text" formControlName="rank"></ion-input>
                </ion-item>
            </ion-row>
            <ion-row>
                <ion-item>
                    <ion-label position="stacked">Tочки</ion-label>
                    <ion-input type="text" formControlName="points"></ion-input>
                </ion-item>
            </ion-row>
            <ion-row>
                <ion-item>
                    <ion-label position="stacked">Победи</ion-label>
                    <ion-input type="text" formControlName="wins"></ion-input>
                </ion-item>
            </ion-row>
            <ion-row>
                <ion-item>
                    <ion-label position="stacked">Загуби</ion-label>
                    <ion-input type="text" formControlName="losts"></ion-input>
                </ion-item>
            </ion-row>
            <ion-row>
                <ion-item>
                    <ion-label position="stacked">Мачове</ion-label>
                    <ion-input type="text" formControlName="matches"></ion-input>
                </ion-item>
            </ion-row>
            <ion-row>
                <ion-item>
                    <ion-label position="stacked">Титли</ion-label>
                    <ion-input type="text" formControlName="titles"></ion-input>
                </ion-item>
            </ion-row>
            <ion-row class="ion-justify-content-end">
                <ion-button color="danger">Запази</ion-button>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>