<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="router.navigate(['./admin']);" color="danger"><ion-icon style="color: white;" name="arrow-back-outline"></ion-icon></ion-button>
          </ion-buttons>
      <ion-title style="font-size: 17px; padding-left: 0px;">Чакащи за одобрение регистрации</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid class="border-style">
        <ion-row>
            <ion-col size="6">
                <ion-row><ion-button class="button-header" style="padding-left: 8px;" color="danger" shape="round" fill="outline" (click)="getAllPlayersByRole('TRAINER')">Треньори</ion-button></ion-row>
            </ion-col>
            <ion-col size="6">
                <ion-row><ion-button class="button-header" color="danger" shape="round" fill="outline" (click)="getAllPlayersByRole('PLAYER')">Играчи</ion-button></ion-row>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="showResults">
            <ion-list style="margin: auto; width: 100%;">
                <ion-item *ngFor="let user of users" class="list-style">
                    <ion-avatar slot="start" style="margin-bottom: 50px;">
                        <img [src]="env.API_URL + '/uploads/' + user?.userDetails.image">
                    </ion-avatar>
                    <ion-label style="margin: 0px;">
                      <ion-grid>
                          <ion-row>
                              <ion-col>
                                <h2>Име: {{user.userDetails.name}}</h2>
                                <h4>Възраст: {{user.userDetails.age}}</h4>
                                <p>Клуб: {{user.userDetails.club}}</p>
                              </ion-col>
                          </ion-row>
                          <ion-row class="ion-justify-content-end">
                            <ion-button size="small" color="success" (click)="approveRegistration(user.id)"><ion-icon name="add-outline"></ion-icon></ion-button>
                            <ion-button size="small" color="danger" (click)="deleteRegistration(user.id)"><ion-icon name="trash-outline"></ion-icon></ion-button>
                        </ion-row>
                      </ion-grid>
                  </ion-label>
                </ion-item>
            </ion-list>
        </ion-row>
    </ion-grid>
</ion-content>