:host {width: 100%}

ion-grid { 
    background: url('C:/Users/Zhana Mitova/Desktop/triangle.png');
    height: 800px;
}

.border-style {
    border: 3px solid #333333;
    border-radius: 12px;
    height: 550px;
}

ion-item {
    border-bottom: 2px solid #4d4d4d;
    width: 100%;
    margin: 0 5px 0 5px;
    --background: none;
}

ion-checkbox {
    --border-color: white;
}

ion-button {
    width: 100%;
    --ion-color-warning-contrast: white;
}