<ion-content>
    <ion-grid>
        <ion-row>
            <form [formGroup]="form">
                <ion-item>
                    <ion-label>Изберете сезон</ion-label>
                    <ion-datetime formControlName="fromYear" max="2020" (ionChange)="changeFromDate()" display-format="YYYY" picker-format="YYYY"></ion-datetime>
                    <ion-datetime formControlName="toYear" display-format="YYYY" picker-format="YYYY" readonly></ion-datetime>
                </ion-item>
            </form>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-row *ngFor="let month of months">
                    <ion-button 
                    style="width: 100%;" 
                    shape="round" 
                    color="danger" 
                    expand="block" 
                    (click)="searchTournament(month.value)">
                    {{month.label}}
                </ion-button>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>