<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button color="danger" (click)="logOut()">
              Изход
            </ion-button>
          </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid class="border-style">
        <ion-row>
            <ion-col style="margin-top: 75px;">
                <ion-row>
                    <ion-button style="width: 100%;" shape="round" color="danger" expand="block" (click)="router.navigate(['./season'], { relativeTo: this.route });">Въвеждане на турнири</ion-button>
                </ion-row>
                <ion-row>
                    <ion-button style="width: 100%;" shape="round" color="danger" expand="block" (click)="router.navigate(['./tournament-results'], { relativeTo: this.route });">Резултати и жребий</ion-button>
                </ion-row>
                <ion-row>
                    <ion-button style="width: 100%;" shape="round" color="danger" expand="block" (click)="router.navigate(['./coach-approve'], { relativeTo: this.route });">Чакащи за одобрение</ion-button>
                </ion-row>
                <ion-row>
                    <ion-button style="width: 100%;" shape="round" color="danger" expand="block" (click)="router.navigate(['./snooker-news'], { relativeTo: this.route });">Въвеждане на новини</ion-button>
                </ion-row>
                <ion-row>
                    <ion-button style="width: 100%;" shape="round" color="danger" expand="block" (click)="router.navigate(['./players-statistics'], { relativeTo: this.route });">Статистика</ion-button>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>