<ion-content>
    <ion-grid>
        <ion-row style="margin-bottom: 10px;" *ngFor="let tournament of tournaments">
            <ion-col size="4" style="background-color: #ce132d;">
                {{tournament.startDate.toString().substring(0, 10)}}
            </ion-col>
            <ion-col class="col-style">
                <ion-row class="row-title"><a style="color: #ce132d;"><strong>{{tournament.name}}</strong></a></ion-row>
                <ion-row class="row-subtitle">{{tournament.place}}</ion-row>
                <ion-row class="row-subtitle ion-justify-content-end">
                    <ion-button [disabled]="!tournament.fileName" style="font-size: 10px;" size="small" color="danger"  (click)="downLoadFile(tournament)">Преглед</ion-button>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>