.col-style {
    background-color: #e7e7e7; border-top: 2px solid #ce132d;
}

.row-title{
    color: black;
    font-size: 18px;
}

.row-subtitle {
    color: black;
    font-size: 16px;
}

.row-text {
    color: black;
    font-size: 13px;
}