.home-page-card {
    background: url("/assets/images/home_page_first.jpg");
    height: 560px;
}
.home-page-second-card {
    background: url("/assets/images/classification.png");
}

.home-page-third-card {
    background-color: black;
    background-repeat: no-repeat;
}

.home-page-fourth-card {
    background: url("/assets/images/fourth_card.png");
    background-repeat: no-repeat;
}

.home-page-fifth-card {
    background: url("/assets/images/coach.png");
    background-repeat: no-repeat;
}
.title {
    margin-top: 10px;
    color: white;
    font-size: 25px;
    content: center;
    text-align: center;
    margin-top: 75px;
}

.title-second-card {
    color: white;
    font-size: 20px;
}

.subtitle {
    color: white;
    text-align: center;
}

.subtitle-second-card {
    color: white;
    margin-left: 17px;
}

.button {
    text-align: center;
}

.item-style {
  background-image: linear-gradient(90deg, #ce132d 20%, black 20%, black 100%);
}