<ion-content>
    <ion-card class="home-page-card">
        <ion-card-header class="title">
            Мобилно приложение
        </ion-card-header>
        <ion-card-subtitle class="subtitle">
            Това приложение е създадено с цел да се организират турнири по снукър,
            както и всеки състезател да може да си създаде свой профил, чрез който да 
            записва тренировка с определено избран от него треньор, да следи новините
            свързани със снукъра в България и по света, да си определя мачове с други
            играчи, да следи настоящата ранглиста и предстоящите турнири и още много
            други възможности.
        </ion-card-subtitle>
    </ion-card>

    <ion-card class="home-page-second-card">
        <ion-card-header class="title-second-card">
            Класация сезон 2020-2021
        </ion-card-header>
        <ion-card-subtitle class="subtitle-second-card">
            Класацията до момента на всички играчи
            участвали на турнирите през сезон 
            2020-2021.
        </ion-card-subtitle>
        <ion-card-content>
            <ion-button color="success" (click)="goToStatisticsPage()">ВИЖ ПОВЕЧЕ</ion-button>
        </ion-card-content>
    </ion-card>

    <ion-card class="home-page-third-card" *ngIf="showEarliestTournament">
        <ion-card-header style="text-align: center; font-size: 18px; color: white;">
            <ion-grid>
                <ion-row style="padding-right: 20px; padding-left: 20px;">
                    <ion-col>
                        <ion-row class="ion-justify-content-center" style="font-size: 30px;
                        color: #ce132d; font-weight: bold;">
                            <span *ngIf="this.days < 10">0</span>{{this.days}}
                        </ion-row>
                        <ion-row class="ion-justify-content-center" style="font-size: 13px;">Дена</ion-row>
                    </ion-col>
                    <ion-col>
                        <ion-row class="ion-justify-content-center" style="font-size: 30px;
                        color: #ce132d; font-weight: bold;">
                            <span *ngIf="this.hours < 10">0</span>{{this.hours}}
                        </ion-row>
                        <ion-row class="ion-justify-content-center" style="font-size: 13px;">Часа</ion-row>
                    </ion-col>
                    <ion-col>
                        <ion-row class="ion-justify-content-center" style="font-size: 30px;
                        color: #ce132d; font-weight: bold;">
                            <span *ngIf="this.minutes < 10">0</span>{{this.minutes}}
                        </ion-row>
                        <ion-row class="ion-justify-content-center" style="font-size: 13px;">Минути</ion-row>
                    </ion-col>
                    <ion-col>
                        <ion-row class="ion-justify-content-center" style="font-size: 30px;
                        color: #ce132d; font-weight: bold;">
                            <span *ngIf="timeLeft < 10">0</span>{{timeLeft}}
                        </ion-row>
                        <ion-row class="ion-justify-content-center" style="font-size: 13px;">Сек</ion-row>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-header>
        <ion-card-subtitle style="text-align: center; font-size: 30px;font-weight: bold; color: #ce132d;" class="subtitle-second-card">
            {{this.tournament.tournament.name}} 
            <ion-label style="color: grey; font-size: 15px;">Сезон {{this.tournament.tournament.season}}</ion-label>
        </ion-card-subtitle>
        <ion-card-content>
            <ion-grid>
                <ion-row style="margin-left: 40px;">
                    <ion-col size="4">
                        <ion-row>
                            <ion-col style="padding: 0; color: white;">
                                Дата
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col style="font-size: 25px; color: #ce132d; font-weight: bold; padding: 0;">
                                <span *ngIf="this.day < 10">0</span>{{this.day}}
                            </ion-col>
                            <ion-col style="padding-left: 0; padding-top: 0; font-size: 11px; color: white; font-weight: bold;">
                                <ion-row>{{this.month}}</ion-row>
                                <ion-row>{{this.year}}</ion-row>
                            </ion-col>
                        </ion-row>
                    </ion-col>

                    <ion-col size="4">
                        <ion-row>
                            <ion-col style="padding: 0; color: white;">
                                Час
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col style="font-size: 25px; color: #ce132d; font-weight: bold; padding: 0;">
                                {{this.time}}
                            </ion-col>
                        </ion-row>
                    </ion-col>

                    <ion-col size="4" style="padding-right: 0;">
                        <ion-row>
                            <ion-col style="padding: 0; color: white;">
                                Място
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col style="font-weight: bold; padding: 0;">
                                <span style="color: #ce132d;">{{clubName}}</span>
                                <span style="color: white; font-size: 11px;">{{city}}</span>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>

    <ion-card class="home-page-fourth-card">
        <ion-card-header class="title-second-card">
            Запиши се за турнир
        </ion-card-header>
        <ion-card-subtitle class="subtitle-second-card">
            За да можеш да участваш във всеки един
            предстоящ турнир провеждан от Българската
            Снукър федерация е необходимо да се регистрираш
            първо и след това да се запишеш тук.
        </ion-card-subtitle>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col size="8">
                        <ion-button [disabled]="isPlayerParticipant" color="success" (click)="addPlayerInTournament()">ЗАПИШИ</ion-button>
                    </ion-col>
                    <ion-col size="4">
                        <ion-button [disabled]="!isPlayerParticipant" color="success" (click)="deletePlayerInTournament()">ОТПИШИ</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>

    <ion-card class="" *ngIf="players.length > 0">
        <ion-card-header class="title-second-card">
            Спечелени титли
        </ion-card-header>
        <ion-card-content>
            <ion-grid>
                <ion-row style="margin-bottom: 10px;" *ngFor="let player of players; let i = index" [ngStyle]="{'background-image': style[i]}">
                    <ion-col size = "5">
                        <img style="max-width: 50px;" src="{{player.userDetails.image}}">
                    </ion-col>
                    <ion-col size="5">
                        <ion-label style="color: white;">{{player.userDetails.name}}</ion-label>
                    </ion-col>
                    <ion-col size = "2">
                        <ion-label style="color: white;">{{player.userDetails.titles}}</ion-label>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>

    <ion-card class="home-page-fifth-card">
        <ion-card-header class="title-second-card">
            Тренировка
        </ion-card-header>
        <ion-card-subtitle class="subtitle-second-card">
            Запиши си тренировка с избран от теб треньор,
            в избрана от теб дата и час, за да се потопиш
            в магията на тази световна игра.
        </ion-card-subtitle>
        <ion-card-content>
            <ion-button color="success" (click)="goToWorkoutPage()">ИЗБЕРИ</ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>